<div class="jumbotron text-center">
<h2>People</h2>
<div class="btn-group" role="group" aria-label="Default Button Groups">
<button type="button" class="btn btn-default">Everyone</button>
<button type="button" class="btn btn-default">Friends</button>
<button type="button" class="btn btn-default">Requests</button>
<button type="button" class="btn btn-default">Pending</button>
</div>
</div>

<div class="container">
<div class="row">
<%= render @users %>
</div>
</div>