<div class="jumbotron">
<div class="container">

<div class="row">

<div class="col-md-4">
<%= gravatar_tag @user.email, size: 200 %>
</div>

<div class="col-md-4">
<h3><%= @user.username %></h3>
<p>Age: </p>
<p>Gender: </p>
</div>

<div class="col-md-4">
<h3>Who am I</h3>
<small>bio</small>
</div>

</div>

</div>
</div>