// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 70px;
}

.alert {
	position: absolute;
	z-index: 1;
	width: 200px;
}